[Desktop Entry]
Name=WeeTube
Exec=google-chrome-stable --class=YouTubeClient --app=https://www.youtube.com --new-window
Terminal=false
Type=Application
Categories=Network